{% extends "base.html" %}
{% load static %}

{% block content %}
  <style type="text/css">
    	body {
			background-color: #000;
		}
		.card-box {
			margin-bottom: 100px;
			background: #fff;
			box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			color: black;
			padding: 20px;
			margin-top: 250px;
		}
		.btn:hover {
			opacity: 1;
			color: white;
			background: crimson;
		}
		.positions h2{
		    color: #000;
		    text-align: left;
		    margin-bottom: 20px;
		}
		.place h3 {
		    text-align: center;
		}
		.btn  {
		  margin-top: 20px;
		}
		.card-body {
            background-color: rgb(255, 255, 255);
            margin-bottom: 30px;
        }


    </style>
    <div id="content">
      {% include 'jobs/messages.html' %}
    </div>
    <div class="col-md">
      <div class="positions">
          <div class="card-box">
            <form action="/jobs/{{ jobs.id }}/subscribe" method="POST">
            {% csrf_token %}
              <input type="hidden" name="job" value="{{ jobs.id }}">

              <input type="submit" class="btn btn-md btn-success pull-right" value="Apply to this Job" />

            </form>
            <h2>{{ jobs.get_position_name }} at {{ jobs.get_company }}</h2>
            <table class="table table-sm">
              <tr>
                <th>POSITION NAME</th>
                <th>COMPANY</th>
                <th>AGE</th>
                <th>GENDER</th>
                <th>SALARY</th>
              </tr>
              <tr>
                <td>{{ jobs.get_position_name }}</td>
                <td>{{ jobs.get_company }}</td>
                <td>{{ jobs.get_age }}</td>
                <td>{{ jobs.get_gender }}</td>
                <td>{{ jobs.get_salary }}</td>
              </tr>
              </table>
              <div class="card card-body">
                <h5>Description:</h5><h5 class="text"> {{ jobs.get_text_description }}</h5>
              </div>
          </div>
      </div>
    </div>



<script type="text/javascript">
    window.addEventListener("scroll", function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 2000)
</script>
{% endblock content %}